<form #form="ngForm" (ngSubmit)="Save(form.value)">
    <div class="form-group" >
        <label for="title" >Title</label>
        <div >
            <input ngModel name="title" id="title" class="form-control" type="text" />
        </div>
        
    </div>
    <div class="form-group" >
        <label for="price">Price</label>
        <div >
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                
                    <input ngModel name="price" id="price" type="number" class="form-control">
                </div>
        </div>
       
    </div>
    <div class="form-group" >
        <label for="category">Category</label>
            <select ngModel  name="category" id="category" class="form-control">
                <option value=""></option>
                <option *ngFor="let c of categories$ | async" [value]="c.$key">
                    {{c.name}}
                </option>
        </select>
    </div>
    <div class="form-group">
        <label for="imgUrl">Image Url</label>
        <div >
            <input ngModel name="imgUrl"  id="imgUrl" type="text" class="form-control">
        </div>
        
    </div>
    <button class="btn btn-primary">Save</button>
</form>
